<div class="lbox-horz"></div>
<div class="lbox-vert"></div>

<div class="login-box side-form">
    <div class="form-validation">
        <div class="form-group">
            <input #account type="text" class="input-sm validate[required,custom[email]] form-control" placeholder="账号">
        </div>
        <div class="form-group">
            <input  #password type="password" class="input-sm validate[required] form-control" placeholder="密码">
        </div>
        <button class="btn btn-gr-gray btn-block btn-xs" (click)="login(account.value,password.value)">登录</button>
    </div>
</div>